.user {
    text-align: right;
    p{
        padding: 10px 20px;
        border-radius: 25px;
        color: #fff;
        background-color: #0e6fcc;
        margin-bottom: 20px;
        position: relative;
        left: 0;
        display: inline-block;
      }
}

.bot {
  padding: 15px 20px;
  border-radius: 25px;
  color: #121212;
  background-color: rgb(244, 242, 247);
  display: inline-block;
  margin-bottom: 20px;
}