@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}
$primary: #0e6fcc;
body {
  font-family: "Nunito";
}
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  h1 {
    font-size: 26px;
  }
  .links {
    a {
      margin-right: 8px;
      text-decoration: none;
      color: slategray;
    }
  }
  .profile {
    img {
      height: 40px;
      width: 40px;
      border-radius: 100%;
      font-family: "Open Sans";
    }
  }
}
.main {
  display: flex;
  height: 100%;
  .sidenav {
    padding: 50px 80px;
    .profile {
      .head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        img {
          height: 60px;
          width: 60px;
          margin-right: 15px;
          border-radius: 100%;
        }
        .title {
          font-size: 20px;
        }
        .subtitle {
          font-size: 15px;
          color: slategray;
        }
      }
    }
  }
  .numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .num {
      margin-right: 15px;
      text-align: center;
      p:nth-child(1) {
        font-size: 14px;
        color: slategray;
        margin-bottom: 10px;
      }
      p:nth-child(2) {
        font-size: 20px;
      }
    }
  }
  .container {
      overflow: scroll;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgb(244, 242, 247);
    height: 86vh;
    header {
      padding: 20px;
      border-bottom: 1px solid rgb(244, 242, 247);
      position: sticky;
      top: 0;
      background: #fff;
    }
    .input {
        position: sticky;
        bottom: 0;
      display: flex;
      align-items: center;
      padding: 20px 10px;
      border-top: 1px solid rgb(244, 242, 247);
background: #fff;
      input {
        width: 90%;
        border-radius: 25px;
        padding: 15px;
        border: 1px solid rgb(244, 242, 247);
        background: transparent;
      }
      a {
        text-decoration: none;
        text-align: center;
        color: $primary;
      }
    }
    .chat {
      padding: 20px 40px;
      
    }
  }
}
@media only screen and (max-width :600px){
  
  .topnav{
    .links{
      display: none;
    }
  }.main{
width: 100%;
.sidenav{
  display: none;
}
  }
}